@CHARSET "ISO-8859-1";

.page-header .header-icon32 {
	display: inline-block;
	float: left;
	height: 40px;
	vertical-align: middle;
	width: 48px;
}

.wrap .icon32 {
	width: 32px;
}

.assigned-state {
	margin-top: 15px;	
}

.bootstrap-wpadmin .page-header {
	padding-bottom: 17px;
	margin: 18px 0;
	border-bottom: 1px solid #EEE;
}

label input[type=checkbox] {
	height: 16px !important;
}